.my-Popup{
     width: 540px;
    height: 360px;
    padding: 20px 24px;
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
}
.my-Popup-password{
    width: 540px;
    height: 472px;
}
.content-message,
.content-verify-code{
    width: 100%;
}
.content-message .col-text,
.content-verify-code .col-text{
    text-align: center;
}
.content-message .col-text h1,
.content-verify-code .col-text h1{
    font-size: 32px;
    font-weight: 600;
    color: #0C0D0D;
    margin-bottom: 5px;
}
.content-message .col-text p,
.content-verify-code .col-text p{ 
    font-size: 16px;
    font-weight: 400;
    color: #313131;
    margin-bottom: 20px;
}
.content-message .col-input,
.content-verify-code .col-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}
.content-verify-code .col-input{
    margin-top: -20px;
}
.content-message .col-input label,
.content-verify-code .col-input label{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 5px;
}
.content-message .col-input input,
.content-verify-code .col-input input{
    width: 460px;
    height: 48px;
    border: none;
    outline: none;
    border: 1px solid #A4A5A8;
    border-radius: 12px;
    padding-left: 12px;
    font-size: 16px;
    font-weight: 400;
    color: #8A8C8F;
}
.content-message .col-input input::placeholder,
.content-verify-code .col-input input::placeholder{
    padding-left: 5px;
}
.content-message .my-swal-button{
    width: 100%;
    height: 48px;
    background-color: #F26122;
    border-radius: 8px;
    padding: 12px 24px;
    margin-top: -20px;
}
.content-verify-code .resend-code{
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
}
.content-verify-code .resend-code p:nth-child(1){
    font-size: 14px;    
    font-weight: 400;
    color: #8A8C8F;
    margin-right: 20px;
}
.content-verify-code .resend-code p:nth-child(2){
    font-size: 16px;
    font-weight: 600;
    color: #8A8C8F;
}
@media (max-width: 600px){
    .my-Popup{
        width: 343px;
        height: 350px;
        padding: 10px;
    }
    .content-message .col-text,
    .content-verify-code .col-text{
        width: 100%;
    }
    .content-message .col-text h1,
    .content-verify-code .col-text h1{
        font-size: 20px;
    }
    .content-message .col-text p,
    .content-verify-code .col-text p{
        font-size: 16px;
        width: 100%;
        text-align: center;
    }
    .content-message .col-input label,
    .content-verify-code .col-input label{
        font-size: 16px;
    }
    .content-message .col-input input,
    .content-verify-code .col-input input{
        width: 100%;
    }
    .content-verify-code .col-input{
        margin-top: 0px;
    }
}
.content-set-newPassword{
    width: 100%;
    padding: 20px 24px;
 /*  width: 540px;
   height: 472px;
   padding: 32px 24px;
   color: #FFFFFF;*/
}
.content-set-newPassword .col-text{
    margin-bottom: 20px;
}
.content-set-newPassword .col-text h1{
    font-size: 32px;
    font-weight: 600;
    color: #0C0D0D;
    margin-bottom: 10px;
}
.content-set-newPassword .col-text p{
    font-size: 16px;
    font-weight: 400;
    color: #313131;
}
.content-set-newPassword .new-password,
.content-set-newPassword .confirm-password{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.content-set-newPassword .new-password{
    margin-bottom: 20px;
}
.content-set-newPassword .new-password label,
.content-set-newPassword .confirm-password label{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 5px;
}
.content-set-newPassword .new-password .col-input,
.content-set-newPassword .confirm-password .col-input{
    width: 100%;
    height: 48px;
    border: 1px solid #A4A5A8;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-set-newPassword .new-password .col-input input,
.content-set-newPassword .confirm-password .col-input input{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    caret-color: #8A8C8F;
}
.content-set-newPassword .new-password .col-input input::placeholder,
.content-set-newPassword .confirm-password .col-input input::placeholder{
    padding-left: 5px;
}
.content-set-newPassword .new-password .col-input .icon-eye,
.content-set-newPassword .confirm-password .col-input .icon-eye{
    width: 24px;
    height: 24px;
    color: #8A8C8F;
    cursor: pointer;
    font-size: 17px;
}
@media (max-width: 600px){
    .my-Popup{
        width: 343px;
        height: 350px;
        padding: 10px;
    }
    .my-Popup-password{
        width: 343px;
        height: 460px;
    }
    .content-message .col-text,
    .content-verify-code .col-text,
    .content-set-newPassword .col-text{
        width: 100%;
    }
    .content-message .col-text h1,
    .content-verify-code .col-text h1,
    .content-set-newPassword .col-text h1{
        font-size: 20px;
    }
    .content-message .col-text p,
    .content-verify-code .col-text p,
    .content-set-newPassword .col-text p{
        font-size: 16px;
        width: 100%;
        text-align: center;
    }
    .content-message .col-input label,
    .content-verify-code .col-input label,
    .content-set-newPassword .col-input label{
        font-size: 16px;
    }
    .content-message .col-input input,
    .content-verify-code .col-input input{
        width: 100%;
    }
    .content-verify-code .col-input{
        margin-top: 0px;
    }
    .content-set-newPassword{
        padding: 10px 10px;
    }
    .content-set-newPassword .col-input{
     /*   width: 100%;*/
    }
    .content-set-newPassword .new-password .col-input input,
    .content-set-newPassword .confirm-password .col-input input{
       /* width: 100%;*/
       height: 40px;
       padding: 10px;
       border-radius: 8px;
    }
}