 .btn-Google-Facebook{
    width: 100%;
    display: flex;
    gap: 48px;
    margin-top: 30px;
    justify-content: center;
}
 .btn-Google-Facebook .col-google,
 .btn-Google-Facebook .col-facebook{
    width: 212px;
    height: 48px;
    border: 1px solid #A4A5A8;
}
@media (max-width: 992px){
    .btn-Google-Facebook{
        width: 100%;
        justify-content: center;
    }
}
@media (max-width: 600px){
    .btn-Google-Facebook .col-google,
    .btn-Google-Facebook .col-facebook{
       min-width: 150px; 
    }
    .login-Content .container .signin-content form .btn-Google-Facebook{
        justify-content: center;
    }
}
@media (max-width: 400px){
    .btn-Google-Facebook .col-google,
    .btn-Google-Facebook .col-facebook{
       min-width: 120px; 
       height: 38px;
    }
    .btn-Google-Facebook .col-google img,
    .btn-Google-Facebook .col-facebook img{
        width: 20px;
        height: 20px;
    }
    .btn-Google-Facebook .col-google p,
    .btn-Google-Facebook .col-facebook p{
        font-size: 13px;
    }
}