.login-Content .container{
   width: 100%;
}
.login-Content .container .signin-content{
    width: 505px;
    height: 708px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.login-Content .container .signin-content form .col-email label,
.login-Content .container .signin-content form .col-password label{
    margin-bottom: 10px;
}
.login-Content .container .signin-content form .col-email input,
.login-Content .container .signin-content form .col-password div{
    width: 100%;
    height: 48px;
    border: 1px solid #A4A5A8;
}
.login-Content .container .signin-content form .col-email input::placeholder,
.login-Content .container .signin-content form .col-password input::placeholder{
    padding-left: 4px;
}
.login-Content .container .signin-content form .col-password{
    width: 100%;
}
.login-Content .container .signin-content form .remember-forget-col{
    margin-bottom: 15px;
}

.login-Content .container .signin-content form .remember-forget-col .col-remember img{
    margin-right: 10px;
}
.login-Content .container .signin-content form .col-robot{
    width: 270px;
    height: 68px;
    background-color: #FFFFFF;
    border: 1px solid #EBEBEB;
    padding: 8.2px 16.41px;
}
.login-Content .container .signin-content form .col-robot div{
    min-width: 123px;
}
.login-Content .container .register-content{
    width: 562px;
    height: 708px;
}
.login-Content .container .register-content .heading-register{
    margin-bottom: 10px;
}
.login-Content .container .register-content .heading-register p:nth-child(1){
    font-size: 32px;
}
.login-Content .container .register-content .heading-register p:nth-child(2){
    font-size: 32px;
}
.login-Content .container .register-content .content-checkout{
    width: 320px;
}
.login-Content .container .register-content .content-checkout div{
    margin-bottom: 30px;
}
.login-Content .container .register-content .btn-register{
    width: 100%;
    height: 48px;
    cursor: pointer;
}
@media (max-width: 1250px){
    .login-Content .container .register-content,
    .login-Content .container .signin-content{
        width: 430px;
    }
    .login-Content .container .signin-content .heading-signin p:nth-child(1),
    .login-Content .container .signin-content .heading-signin p:nth-child(2),
    .login-Content .container .register-content .heading-register p:nth-child(1),
    .login-Content .container .register-content .heading-register p:nth-child(2){
        font-size: 23px;
    }
}
@media (max-width: 992px){
    .login-Content{
        margin-top: 180px;
    }
    .login-Content .container .register-content,
    .login-Content .container .signin-content{
        width: 380px;
    }
    .login-Content .container .signin-content .heading-signin p:nth-child(1),
    .login-Content .container .signin-content .heading-signin p:nth-child(2),
    .login-Content .container .register-content .heading-register p:nth-child(1),
    .login-Content .container .register-content .heading-register p:nth-child(2){
        font-size: 20px;
    }
}
@media (max-width: 880px){
    .login-Content .container{
        flex-direction: column;
    }
    .login-Content .container .register-content,
    .login-Content .container .signin-content{
        width: 100%;
    }
    .login-Content .container .signin-content{
        margin-bottom: 40px;
    }
}
@media (max-width: 600px){
     .login-Content{
        margin-top: 20px;
        overflow: hidden;
     }
    .login-Content .container .edadcom-apps .google-appstore-col{
        justify-content: center;
    }
}
@media (max-width: 480px){
    .login-Content .container .signin-content .heading-signin p:nth-child(1),
    .login-Content .container .signin-content .heading-signin p:nth-child(2),
    .login-Content .container .register-content .heading-register p:nth-child(1),
    .login-Content .container .register-content .heading-register p:nth-child(2){
        font-size: 18px;
    }
}
.login-Content .container .signin-content form .remember-forget-col .col-remember{
    display: flex;
    align-items: center;
}
.login-Content .container .signin-content form .remember-forget-col .col-remember .remember-me{
    width: 20px;
    height: 20px;
    padding: 2px;
    border: 1px solid #57595B;
    border-radius: 6px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}
.login-Content .container .signin-content form .remember-forget-col .col-remember .remember-me.blueBG{
    background-color: rgb(11, 119, 221);
    border-color: transparent;
}
.login-Content .container .signin-content form .remember-forget-col .col-remember .remember-me .icon{
    font-size: 15px;
    color: #FFFFFF;
}
.login-Content .container .signin-content form .col-robot div .check-robot{
    min-width: 24px;
    min-height: 24px;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 15px;
}
.login-Content .container .signin-content form .col-robot div .check-robot.greenBG{
    background-color: rgb(15, 153, 15);
    border-color: transparent;
}
.login-Content .container .signin-content form .col-password div .display-password{
    width: 22px;
    height: 22px;
    color: #8A8C8F;
    cursor: pointer;
}
.login-Content .container .register-content .content-checkout div .heart-icon{
    color: red;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
@media (max-width: 600px){
    .login-Content .container .signin-content form .remember-forget-col p{
        font-size: 15px;
    }
}