.navLinks-content{
    border-top: 0.3px solid #e0e0e0;
}
.navLinks-content .container{
    width: 100%;
}
.navLinks-content .container .col-categories{
    min-width: 170px; 
    height: 100%;
    transition: background-color 0.5s ease;
    margin-top: -1px;
}
.navLinks-content .container .col-categories:hover{
    background-color: #ec4b06;
}